{% extends 'base.html' %}


{% block content %}


<div class="container">

<br><br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><a href="{% url 'consultant-dashboard' %}">Consultant Dashboard</a></th>
      <th><a href="{% url 'training-dashboard' %}">Training</a></th>
      <th><a href="{% url 'prospect-dashboard' %}">Prospect</a></th>
      <th><a href="{% url 'bench-list-dashboard' %}">Bench List</a></th>
      <th><a href="{% url 'on-project-dashboard' %}">On Project</a></th>
    </tr>
  </thead>
  </table>

  <h1>Consultant Dashboard</h1><br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Consultant Name</th>
        <th>Technology</th>
        <th>Employee Status</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Immigration Status</th>
        <th>Availability</th>
      </tr>
      <tbody>

        {% for off in official %}
        <tr>
          <td>{{off.employee_id}}</td>
          <td>{{off.employee}}</td>
          <td>{{off.technology}}</td>
          <td>{{off.employee_status}}</td>
          <td>{{off.official_phone_number}}</td>
          <td>{{off.official_email_id}}</td>

          {% for per in personal %}
          {% if per.employee_id == off.employee_id %}
            <td>{{per.immigration_status}}</td>
          {% endif %}
          {% endfor %}

          <td>---</td>

        </tr>
        {% endfor %}

      </tbody>
    </thead>
    </table>

  </div>

{% endblock %}
